@import "./User-common.css";

.layout-base {
  background-color: var(--box-yellow-color);
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}

.layout-login {
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 25vw;
  border-radius: 40px;
  background-color: var(--background);
  box-shadow: 0px 11px 39.6px 0px rgba(0, 0, 0, 0.25);
}

.main-text {
  font-size: 2vw;
  font-weight: bold;
  margin-top: 1vw;
  color: var(--logo-yellow-color);
}

button#button-login {
  width: 15vw;
  height: 2.5vw;
  margin-top: 2vw;
  border-radius: 6px;
  border: none;
  background-color: #5a5a5a;
  color: var(--background);
  font-size: 1vw;
}

.forgot-password {
  font-size: 0.8vw;
  color: #b3b3b3;
  margin-top: 0.5vw;
  text-decoration: none;
}

.sign-up {
  font-size: 0.8vw;
  color: #b3b3b3;
  margin-top: 0.5vw;
  font-weight: 400;
}

a.sign-up {
  font-weight: 700;
}
