.center-row {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame {
  height: fit-content;
  margin: 0 50px;
  height: 75vh;
  width: 60vh;
  background-image: url("../../../assets/frame/basic2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blank-row {
  display: flex;
  flex-direction: row;
}

.blank {
  height: 27vh;
  width: 27vh;
  margin-left: 2vh;
  margin-top: 2vh;
  position: relative;
  background-color: white;
}
